body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f0f0f;
  color: white;
}

.hero {
  height: 100vh;
  background: linear-gradient(black, #1c1c1c);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-size: 70px;
  color: #ffc300;
  text-shadow: 0 0 20px #ffc300;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  padding: 12px 25px;
  background: #ffc300;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 0 20px #ffc300;
}

section {
  padding: 80px 20px;
  text-align: center;
}

.service-grid,
.portfolio-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 15px;
  width: 200px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 20px #ffc300;
}

.project {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  transition: 0.3s;
}

.project iframe {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.project:hover {
  box-shadow: 0 0 25px #ffc300;
}

footer {
  background: black;
  padding: 20px;
  text-align: center;
}

.vortex {
  color: #ffc300;
  text-shadow: 0 0 10px #ffc300;
}

/* Responsive */
@media(max-width: 768px) {
  .hero h1 {
    font-size: 45px;
  }

  .project {
    width: 90%;
  }
}
